@import url('https://fonts.googleapis.com/css?family=Arapey|Cantarell|Comfortaa|Khand|Russo+One|Ubuntu');

body {
    background: url("https://s16.postimg.org/4d17gd0vp/smbg.png");
    font-family: 'Comfortaa', cursive;
  }

.container{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.signup{
  border: 1px solid gainsboro;
  width: fit-content;
  height: fit-content;
  margin: 20px;
  margin-top: 65px;
  padding: 35px;
  background-color: #52aa79;
  border-radius: 54px;
}
.form_title{
  text-align: center;
  font-size: 2.3rem;
  margin-bottom: 32px;
  color: #080808;
}
.input_div{
  display: flex;
  flex-direction: column;
  height: 85px;
}
.input_div label{
  font-size: 1rem;
  color: #fbe577;
  text-align: left;
  margin-bottom: 6px;
}
.form_input{
  border-radius: 6px;
  padding: 2px 7px;
  width: 300px;
  height: 24px;
  border: 1px solid #75bf96;
  transition: all 0.2s ease-in;
  box-shadow: 1px 2px 6px 1px #8be2b2;
}
.input_div span,
.accept_div span{
  height: 10px;
  text-align: left;
  margin-top: 3px;
  width: fit-content;
  font-size: 0.7rem;
  color: #ff0000;
  line-height: 10px;
  padding: 2px 3px;
  border-radius: 3px;
  background-color: #f4d7d9d1;
  margin: 6px 0px;
}
.uncomplated{
  border-radius: 6px;
  padding: 2px 7px;
  width: 300px;
  height: 24px;
  transition: all 0.2s ease-in;
  border: 0.5px solid rgb(251, 113, 113);
  border-top: none ;
  box-shadow: 1px 2px 6px 1px wheat;
}
.form_input:focus,
.uncomplated:focus{
  outline: none;
  line-height: 20px;
  height: 30px;
  border: 3px solid #f9dc4c;
  box-shadow: 1px 2px 6px 0px wheat;
}
.chekbox_div{
      display: flex;
      flex-direction: row !important;
      font-size: 0.8rem;
      align-items: center;
      height: 20px ;
      text-align: center;

}
.chekbox_div label{
      color: #00212b;
}
.formButtons{
      display: flex;
      flex-direction: column-reverse;
      align-items: center;
      justify-content: flex-start;
}
.accept_div{
      display: flex;
      flex-direction: column;
      height: 55px;    
}
.accept_div label{
      font-size: 0.9rem;
      text-align: left;
      margin-bottom: 6px;
      margin-right: 12px;
}
.submit_btn{
    margin-bottom: 10px;
    outline: none;
    background: #fbe577;
    border-radius: 10px;
    border: 2px solid #f3f3f333;
    width: 100px;
    height: 31px;
    box-shadow: -1px 2px 5px 2px #cdbb5f;
    color: #013626;
}
.formButtons a{
      text-decoration: none;
      color: antiquewhite;
}

@media (max-width : 440px){
    .signup{
        width: 70%;
    }
    .form_input{
        width: 92%;
    }
    .form_title{
        font-size: 2rem;
        margin-bottom: 24px;
    }
    .input_div{
        height: 75px;
    }
    .input_div label{
        font-size: 0.8rem;
    }
      
    .form_input:focus,
    .uncomplated:focus{
        height: 20px;
        width: 92%;
    }

    .uncomplated{
        padding: 2px 7px;
        width: 92%;
        height: 20px;
      }
    .input_div span,
    .accept_div span{
        font-size: 0.6rem;
    }
    .accept_div label{
        font-size: 0.8rem;
    }
    .accept_div{
        height: 35px;    
  }

  .submit_btn{
    font-size: 0.8rem;
}
.formButtons a{
    font-size: 0.9rem;
}
.chekbox_div{
    height: 26px;
}

.formButtons{
    margin-top: 14px;
}
}



