.container {
    width: 18rem;
    overflow: hidden;
    margin: 0 10px 40px;
    transition: all 0.2s ease-in-out;
    background-color: #1b2028;
    border-radius: 16px;
    border: 3px solid #bd0dbd;
    background-clip: padding-box;
    text-align: center;
    color: #f1f3f3;
  }
  
  .container:hover {
    box-shadow: rgba(144, 142, 142, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px,
      rgba(186, 186, 186, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px,
      rgba(246, 245, 245, 0.09) 0px 32px 16px;
  }
  
  .cardImage {
    width: 230px;
    height: 200px;
    margin: 10px;
    border-radius: 40px;
  }
  
  .container h3 {
    color: #cb90ffbf;
    text-align: left;
    margin: 25px 20px 15px;
    font-size: 1.1rem;
  }
  
  .container p {
    color: #aeaeae;
    text-align: left;
    margin: 15px 20px;
    font-size: 0.9rem;
    font-weight: 500;
  }
  
  .linkContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 35px 20px 20px;
  }
  
  .linkContainer a {
    text-decoration: none;
    color: #e541e5;
    font-size: 0.95rem;
  }
  .linkContainer a:hover{
    color: #0b499b;
    scale: 1.1;
    font-weight: 600;
  }
  
  .buttonContainer button {
    font-size: 0.9rem;
    background-color: #c731c7;
    border: none;
    color: #fff;
    height: 30px;
    width: 120px;
    border-radius: 34px;
    cursor: pointer;
    transition: all 0.2s ease;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 4px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    margin-left: 5px;
  }
  
  .smallButton {
    width: 30px !important;
    font-size: 1.6rem !important;
    font-weight: bold;
    line-height: 30px;
  }
  
  .smallButton img {
    width: 13px;
  }
  
  .buttonContainer button:hover {
    background-color: #0b499b;
  }
  
  .counter {
    display: inline-block;
    width: 20px;
    margin-left: 5px;
    font-size: 1.2rem;
    font-weight: 700;
    color: #1a73e8;
  }
  
  @media (max-width: 1160px) {
    .container {
      width: 15rem;
    }
  }


  @media (max-width: 1000px) {
    .container {
      width: 45%;
    }
  }
  
  @media (max-width: 768px) {
    .container {
      width: 45%;
    }
    .cardImage {
      width: 200px;
    }
  }
  
  @media (max-width: 633px) {
    .container {
      width: 70%;
    }
    .cardImage {
      width: 230px;
    }
  }
  
  @media (max-width: 400px) {
    .container {
      width: 90%;
    }
  }
  